<style>
.part {
  width: 33%;
}
.table {
  width: 95%;
  border: 3px black solid;
  /* border-color: black; */
}

.cell {
  border: 3px black solid;
  /* border-color: black; */
}

</style>

<h1 class="section_title">
  <%= "#{@section.name}" %>
</h1>

<div class="sub_sections">
  <% @section.sub_sections.each do |sub_section| %>
    <div id="sub_section_<%= sub_section.id %>">
      <h2><%= "#{sub_section.section_number} #{sub_section.name}" %></h2>

      <table class="table">
        <tr class="cell">
          <th class="cell">PT1</th>
          <th class="cell">PT2</th>
          <th class="cell">PT3</th>
        </tr>
        <% sub_section.all_related_parts.each do |rp| %>
          <tr class="cell">
            <div id="related_part_<%= rp.id %>">
              <% [rp.pt1_id, rp.pt2_id, rp.pt3_id].each do |part_id| %>
                <td class="cell">
                  <div>
                    <% unless part_id.nil? %>
                    <div id="part-<%=part_id%>">
                        <% part = Part.find(part_id) %>
                        <h5>Section: <%= part.section_number %></h5>
                        <p>Assessor: <br>
                          <span class="final_assessment">
                            <%= button_to "Edit", part_final_edit_path(part), method: "get" %> Final Assessment: <%= part.final_assessment %><br>
                            Score: <%= part.score %><br><br>
                          </span>
                          <div class="first_assessment">
                            <%= button_to "Edit", part_first_edit_path(part), method: "get" %> First Assessment: <%= part.first_assessment %>
                          </div>
                        </p>
                        <div>
                          <p>
                            Additional Documents: <br>
                            Interview Questions: <br>
                            Field Review Questions: <br>
                            Notes: <br>
                          </p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </div>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
