<style>
.part {
  width: 33%;
}
.table {
  width: 95%;
  border: 3px black solid;
  /* border-color: black; */
}

.cell {
  border: 3px black solid;
  width: 33%;
  /* border-color: black; */
}

</style>

<h1 class="section_title">
  <%= "#{@section.name}" %>
</h1>

<div class="links">
  <div class="interviews">
    <%= link_to "Interviews", section_interviews_path(@section) %>
    <%= link_to "New Interview", new_section_interview_path(@section) %>
  </div>
  <div class="field_interviews">
    <%= link_to "Field Interviews", section_field_interviews_path(@section) %>
    <%= link_to "New Field Interview", new_section_field_interview_path(@section) %>
  </div>
  <div class="page-nav">
    Subsections:
    <% @section.sub_sections.each do |subsection| %>
      <br><%= link_to "#{subsection.section_number} - #{subsection.name}", anchor: "sub_section_#{subsection.id}" %>
    <% end %>
  </div>
</div>

<div class="sub_sections">
  <% @section.sub_sections.each do |sub_section| %>
    <div id="sub_section_<%= sub_section.id %>">
      <h2><%= "#{sub_section.section_number} #{sub_section.name}" %></h2>

      <table class="table">
        <tr class="cell">
          <th class="cell">PT1</th>
          <th class="cell">PT2</th>
          <th class="cell">PT3</th>
        </tr>
        <% sub_section.all_related_parts.each do |rp| %>
          <tr class="cell">
            <div id="related_part_<%= rp.id %>">
              <% [rp.pt1, rp.pt2, rp.pt3].each do |part| %>
                <td class="cell">
                  <div>
                    <% unless part.nil? %>
                    <div id="part-<%=part.id%>">
                        <h5>Section: <%= part.section_number %></h5>
                        <p><span style="font-weight: bold;">Assessor:</span> <br>
                          <span class="final_assessment">
                            <%= button_to "Edit", part_final_edit_path(part), method: "get" %> <span style="font-weight: bold;">Final Assessment:</span> <%= part.final_assessment %><br>
                            <span style="font-weight: bold;">Score:</span> <%= part.score %><br><br>
                          </span>
                          <div class="first_assessment">
                            <%= button_to "Edit", part_first_edit_path(part), method: "get" %> <span style="font-weight: bold;">First Assessment:</span> <%= part.first_assessment %>
                          </div>
                        </p>
                        <div>
                          <p>
                            <div class="additional_documents">
                              <%= button_to "Add", new_part_additional_document_path(part), method: :get %>
                              <span style="font-weight: bold;">Additional Documents:</span>
                              <% part.additional_documents.each do |document| %>
                                <div id="additional_document-<%=document.id%>">
                                  <%= button_to "Edit", edit_part_additional_document_path(part, document), method: :get %> <span style="font-weight: bold;">Document:</span>
                                  <%= document.document %> <br>
                                  <span style="font-weight: bold;">Notes:</span> <%= document.notes %>
                                </div>
                              <% end %>
                            </div>
                            <div class="interview_questions">
                              <%= button_to "Add", new_part_interview_question_path(part), method: :get %>
                              <span style="font-weight: bold;">Interview Questions:</span>
                              <% part.interview_questions.each do |question| %>
                                <div id="interview_question-<%=question.id%>">
                                  <%= button_to "Edit", edit_part_interview_question_path(part, question), method: :get %> <span style="font-weight: bold;">Question:</span>
                                  <%= question.question %> <br>
                                  <span style="font-weight: bold;">Notes:</span> <%= question.notes %>
                                </div>
                              <% end %>
                            </div>
                            <div class="field_interview_questions">
                              <%= button_to "Add", new_part_field_interview_question_path(part), method: :get %>
                              <span style="font-weight: bold;">Field Interview Questions:</span>
                              <% part.field_interview_questions.each do |question| %>
                                <div id="field_interview_question-<%=question.id%>">
                                  <%= button_to "Edit", edit_part_field_interview_question_path(part, question), method: :get %> <span style="font-weight: bold;">Question:</span>
                                  <%= question.question %> <br>
                                  <span style="font-weight: bold;">Notes:</span> <%= question.notes %>
                                </div>
                              <% end %>
                            </div>
                            <div class="notes">
                              <span style="font-weight: bold;">Notes:</span>
                            </div>
                          </p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </div>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
