<style>
.part {
  width: 30%;
  display: inline-block;
  padding: 2px 16px;
  border: 50px;
  border-color: black;
}

</style>

<h1 class="section_title">
  <%= "#{@section.name}" %>
</h1>

<div class="sub_sections">
  <% @section.sub_sections.each do |sub_section| %>
    <div id="sub_section_<%= sub_section.id %>">
      <h2><%= "#{sub_section.section_number} #{sub_section.name}" %></h4>
      <% sub_section.all_related_parts.each do |rp| %>
        <div id="related_part_<%= rp.id %>">
          <div class="part">
            <% unless rp.pt1_id.nil? %>
              <% pt1 = Part.find(rp.pt1_id) %>
              <h3>section: <%= pt1.section_number %></h3>
              <p>Final Assessment: <%= pt1.final_assessment %><br>
                score: <%= pt1.score %><br>
                Assessor: Currently not implemented! <br><br>
                First Assessment: <%= pt1.first_assessment %><p>
                <div> subsections go here </div>
            <% end %>
          </div>

          <div class="part">
            <% unless rp.pt2_id.nil? %>
              <% pt2 = Part.find(rp.pt2_id) %>
              <h3>section: <%= pt2.section_number %></h3>
              <p>Final Assessment: <%= pt2.final_assessment %><br>
                score: <%= pt2.score %><br>
                Assessor: Currently not implemented! <br><br>
                First Assessment: <%= pt2.first_assessment %><p>
                <div> subsections go here </div>
            <% end %>
          </div>

          <div class="part">
            <% unless rp.pt3_id.nil? %>
              <% pt3 = Part.find(rp.pt3_id) %>
              <h3>section: <%= pt3.section_number %></h3>
              <p>Final Assessment: <%= pt3.final_assessment %><br>
                score: <%= pt3.score %><br>
                Assessor: Currently not implemented! <br><br>
                First Assessment: <%= pt3.first_assessment %><p>
                <div> subsections go here </div>
            <% end %>
          </div>
          <p></p>
        </div>
      <% end%>
    </div>
  <% end %>
</div>
