<style>
.part {
  width: 33%;
}

.table {
  width: 95%;
  border: 3px black solid;
}

.table_two {
  width: 99%;
}

.button_holder {
  width: 10px;
}

.cell {
  border: 3px black solid;
  width: 33%;
  vertical-align: top;
  /* border-color: black; */
}

</style>

<h1 class="section_title">
  <%= "#{@section.name}" %>
</h1>

<div class="links">
  <div class="interviews">
    <%= link_to "Interviews", section_interviews_path(@section) %>
    <%= link_to "New Interview", new_section_interview_path(@section) %>
  </div>
  <div class="field_interviews">
    <%= link_to "Field Interviews", section_field_interviews_path(@section) %>
    <%= link_to "New Field Interview", new_section_field_interview_path(@section) %>
  </div>
  <div class="page-nav">
    Subsections:
    <% @section.sub_sections.each do |subsection| %>
      <br><%= link_to "#{subsection.section_number} - #{subsection.name}", anchor: "sub_section_#{subsection.id}" %>
    <% end %>
  </div>
</div>

<div class="sub_sections">
  <% @section.sub_sections.each do |sub_section| %>
    <div id="sub_section_<%= sub_section.id %>">
      <h2><%= "#{sub_section.section_number} #{sub_section.name}" %></h2>

      <table class="table">
        <tr class="cell">
          <th class="cell">PT1</th>
          <th class="cell">PT2</th>
          <th class="cell">PT3</th>
        </tr>
        <% sub_section.all_related_parts.each do |rp| %>
          <tr class="cell">
            <div id="related_part_<%= rp.id %>">
              <% [rp.pt1, rp.pt2, rp.pt3].each do |part| %>
                <td class="cell">
                  <div>
                    <% unless part.nil? %>
                    <div id="part-<%=part.id%>">
                      <table class="table_two">
                        <tr>
                          <th class="button_holder"></th>
                          <th></th>
                        </tr>
                        <tr>
                          <td class="button_holder" style="vertical-align: top; padding: 5px;">
                          </td>

                          <td style="vertical-align: top; padding: 5px;">
                            <span style="font-weight: bold;">Section: <%= part.section_number %></span>
                          </td>
                        </tr>
                        <tr>
                          <td class="button_holder" style="vertical-align: top; padding: 5px;">
                          </td>

                          <td style="vertical-align: top; padding: 5px;">
                            <span style="font-weight: bold;">Assessor:</span> <br>
                          </td>
                        </tr>
                        <tr>
                          <div class="final_assessment">
                            <td class="button_holder" style="vertical-align: top; padding: 5px;">
                              <%= button_to "Edit", part_final_edit_path(part), method: "get" %>
                            </td>

                            <td style="vertical-align: top; padding: 5px;">
                              <span style="font-weight: bold;">Final Assessment:</span> <%= part.final_assessment %><br><br>
                              <span style="font-weight: bold;">Score:</span> <%= part.score %><br><br>
                            </td>
                          </div>
                        </tr>
                        <tr>
                          <div class="first_assessment">
                            <td class="button_holder" style="vertical-align: top; padding: 5px;">
                              <%= button_to "Edit", part_first_edit_path(part), method: "get" %>
                            </td>

                            <td style="vertical-align: top; padding: 5px;">
                                <span style="font-weight: bold;">First Assessment:</span> <%= part.first_assessment %><br>
                            </td>
                          </div>
                        </tr>
                        <div class="additional_documents">
                          <tr>
                            <td class="button_holder" style="vertical-align: top; border-bottom: 3px solid; padding: 5px;">
                              <%= button_to "Add", new_part_additional_document_path(part), method: :get %>
                            </td>

                            <td style="vertical-align: bottom; border-bottom: 3px solid; padding: 5px, 5px, 5px;">
                              <span style="font-weight: bold;">Additional Documents:</span>
                            </td>
                          </tr>
                          <% part.additional_documents.each do |document| %>
                            <div id="additional_document-<%=document.id%>">
                              <tr>
                                <td class="button_holder" style="vertical-align: top; border-bottom: 2px solid; padding: 5px;">
                                  <%= button_to "Edit", edit_part_additional_document_path(part, document), method: :get %>
                                </td>

                                <td style="vertical-align: top; border-bottom: 2px solid; padding: 5px;">
                                  <span style="font-weight: bold;">Document:</span>
                                  <%= document.document %> <br><br>
                                  <span style="font-weight: bold;">Notes:</span> <%= document.notes %>
                                </td>
                              </tr>
                            </div>
                          <% end %>
                        </div>
                        <div class="interview_questions">
                          <tr>
                            <td class="button_holder" style="vertical-align: top; border-bottom: 3px solid; padding: 5px;">
                              <%= button_to "Add", new_part_interview_question_path(part), method: :get %>
                            </td>

                            <td style="vertical-align: bottom; border-bottom: 3px solid; padding: 5px, 5px, 5px;">
                              <span style="font-weight: bold;">Interview Questions:</span>
                            </td>
                          </tr>
                          <% part.interview_questions.each do |question| %>
                            <div id="interview_question-<%=question.id%>">
                              <tr>
                                <td class="button_holder" style="vertical-align: top; border-bottom: 2px solid; padding: 5px;">
                                  <%= button_to "Edit", edit_part_interview_question_path(part, question), method: :get %>
                                </td>

                                <td style="vertical-align: top; border-bottom: 2px solid; padding: 5px;">
                                  <span style="font-weight: bold;">Question:</span>
                                  <%= question.question %> <br><br>
                                  <span style="font-weight: bold;">Notes:</span> <%= question.notes %>
                                </td>
                              </tr>
                            </div>
                          <% end %>
                        </div>
                        <div class="field_interview_questions">
                          <tr>
                            <td class="button_holder" style="vertical-align: top; border-bottom: 3px solid; padding: 5px;">
                              <%= button_to "Add", new_part_field_interview_question_path(part), method: :get %>
                            </td>

                            <td style="vertical-align: bottom; border-bottom: 3px solid; padding: 5px, 5px, 5px;">
                              <span style="font-weight: bold;">Field Interview Questions:</span>
                            </td>
                          </tr>
                          <% part.field_interview_questions.each do |question| %>
                            <div id="field_interview_question-<%=question.id%>">
                              <tr>
                                <td class="button_holder" style="vertical-align: top; border-bottom: 2px solid; padding: 5px;">
                                  <%= button_to "Edit", edit_part_field_interview_question_path(part, question), method: :get %>
                                </td>

                                <td style="vertical-align: top; border-bottom: 2px solid; padding: 5px;">
                                  <span style="font-weight: bold;">Question:</span>
                                  <%= question.question %> <br><br>
                                  <span style="font-weight: bold;">Notes:</span> <%= question.notes %>
                                </td>
                              </tr>
                            </div>
                          <% end %>
                        </div>
                        <div class="notes">
                          <tr>
                            <td class="button_holder" style="vertical-align: top; padding: 5px;">
                            </td>

                            <td style="vertical-align: bottom; border-bottom: 3px solid; padding: 5px, 5px, 5px;">
                              <span style="font-weight: bold;">Notes:</span>
                            </td>
                          </tr>
                        </div>
                        </table>
                      </div>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </div>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
