

<div style="margin-left:auto;margin-right:auto;margin-top:100px;text-align:center"><div>Welcome!</div><br><%= button_to '(not functioning)', '/auth/microsoft_graph', :class => "btn-lg btn" %><br><br><br>
  temp simulated login enter one of the following user emails<br>
  Email: test1@sample.com, Password: Password1<br>
  Email: test2@sample.com, Password: Password2<br>
  Email: test3@sample.com, Password: Password3<br>
  Email: test4@sample.com, Password: Password4<br>

  <%= form_with url: "/temp_session_route", method: :get, local: true do |form| %>
    <%= form.text_field :email %>
    <%= form.password_field :password %>
    <%= form.submit :login %>
  <% end %>
</div>
