<style>
.part {
  width: 33%;
}
.table {
  width: 95%;
  max-width: 500px;
  border: 3px black solid;
  /* border-color: black; */
}

.cell {
  border: 3px black solid;
  /* border-color: black; */
}

</style>

<table class="table">
  <tr class="cell">
    <th class="cell">Section Number</th>
    <th class="cell">Question</th>
    <th class="cell">Notes</th>
    <th class="cell">Assessor</th>
  </tr>
  <% @interview_questions.each do |question| %>
    <tr class="cell">
      <div id="question-<%=question.id%>">
        <td class="cell"><%= question.part.section_number %></td>
        <td class="cell"><%= question.question %></td>
        <td class="cell"><%= question.notes %></td>
        <td class="cell"><%= question.user.name %></td>
      </div>
    </tr>
  <% end %>
</table>
