<div class="report_sections" style="float: left; width: 200px;">
  Sections:
  <% @report.sections.each do |section| %>
    <br><%= link_to "#{section.name}", section_path(section) %>
  <% end %>
</div>
<div class="additional_info">
  Other Links:
  <br><%= link_to "Additional Documents", report_additional_documents_path(@report) %>
  <br><%= link_to "Interview Questions", report_interview_questions_path(@report) %>
  <br><%= link_to "Interviews", report_interviews_path(@report) %>
  <br><%= link_to "Field Interview Questions", report_field_interview_questions_path(@report) %>
  <br><%= link_to "Field Interviews", report_field_interviews_path(@report) %>
</div>
