<!DOCTYPE html>
<html>
  <head>
    <title>ResSolutions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <div class="nav-bar">
      <% unless @nav_bar.nil? %>
        <% @nav_bar.each do |key, button| %>
          <div style="float: left;"><%= button_to button[:title], button[:path], method: button[:method] %></div>
        <% end %>
      <% end %>

      <% unless @nav_bar || @user.nil? %>
        <%= button_to "Logout", logout_path, method: :delete %>
      <% end %>
    </div>
    <div style="clear: both;"></div>

    <%= yield %>
  </body>
</html>
